
.dataSec{
    height: 500px;
    width: 350px;
    background-color: rgb(87, 219, 219);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: o;
    right: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.btn{
    height: 50px;
    width: 150px;
    margin-top: 20px;
    background-color: rgb(92, 143, 16);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}
.btn:hover{
    transform: scale(1,1);
}
.info{
    margin-bottom: 30px;
    margin-top: 30px;
}
.result{
    background-color: aliceblue;
    line-height: 100px;
    width: 150px;
    box-sizing: border-box;
    padding-left:10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    border-radius: 10px;
}
