* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.dataSec{
    height: 500px;
    width: 350px;
    background-color: rgb(87, 219, 219);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: o;
    right: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.btn